<nav class="navbar">
    <div class="logo menu-part">
        <a routerLink="/">
            <img src="/logo.png" alt="logo Gotta Catch" class="logo">
        </a>
    </div>

    <div class="menu-part">
        <ul class="voices-list">
            @for (voce of voci; track $index)
            {
            <li class="menu-voice">
                <a [routerLink]="voce.link" class="link-voce" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: voce.link !== ''}">{{voce.name}}
                </a>
            </li>
            }
            <li class="menu-search">
                <search-bar versione="modal"></search-bar>
            </li>
        </ul>

    </div>

    <div class="reserach menu-part">
        <search-bar versione="normal"></search-bar>
    </div>
</nav>