.ricerca {
    background-color: transparent;
    font-size: 1.2rem;
    transition: .3s ease;

    &:hover {
        transform: scale(1.15);
    }
}

.searchBar {
    display: flex;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .input_modal {
        width: 100%;
        background-color: rgb(65, 65, 65);
        padding: 3vw;
    }

    input {
        height: 45px;
        background-color: rgb(65, 65, 65);
        border-radius: 1rem;
        font-family: 'Lato';
        // background-color: #282a2ea8; //chiaro
        border: #333 1px solid;
        padding: 0 1vw;
        font-size: 1rem;
        font-weight: 600;
        outline: none;
        width: 300px;
        caret-color: #fff;
        color: #f1eeee;

        &::placeholder {
            color: #696969;
        }

        &:hover {
            cursor: auto;
        }


    }

    .cerca {
        height: 6vh;
        width: 6vh;
        border-radius: 50%;
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        border: #333 solid 1px;

        &:active {
            transform: scale(0.95);
        }

        i {
            font-size: 1rem;
            font-weight: 800 !important;
        }

    }


}

.barra {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    .risultati {
        // Lista dei risultati della ricerca
        width: 100%;
        border: #333 1px solid;
        padding: 0;
        z-index: 999;
        list-style: none;
        position: absolute;
        border-radius: 10px;
        // background-color: #282a2ea8; //chiaro
        overflow: hidden;

        .risultato {
            // Elemento singolo
            height: 6vh;
            background-color: #333;
            
            &:hover {
                background-color: #444;
            }

            a {
                color: var(--title);
                display: block;
                text-decoration: none;
                margin: auto;
                height: 100%;
                display: flex;
                align-items: center;
                padding-left: 1rem;
            }
        }
    }
}

@media (max-width:768px) {
    .cerca {
        display: none;
    }
}