$giallo-pikachu:#FFCB05; //Elementi in evidenza, pulsanti principali
$blu-megaball:#005baf; //Navbar, header o accent color secondario	
$rosso-charizard:#FF1C1C; //CTA secondaria, badge, dettagli vivaci	
$bg-table:#e6f7ff; //Background delle table
$box_shadow-table:0 6px 12px rgba(0, 0, 0, 0.35),
0 0 10px rgba(255, 255, 255, 0.1) inset //Box shadow per le tabelle