<div class="section">
   <p>Realizzato da me © <a href="http://www.manueldisabatino.it" class="policy">Di Sabatino Manuel</a> - {{anno}} - <a href="https://www.iubenda.com/privacy-policy/34225855"
         class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe policy" title="Privacy Policy ">Privacy
         Policy</a>
      <script
         type="text/javascript">(function (w, d) { var loader = function () { var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s, tag); }; if (w.addEventListener) { w.addEventListener("load", loader, false); } else if (w.attachEvent) { w.attachEvent("onload", loader); } else { w.onload = loader; } })(window, document);</script>

      - <a href="https://www.iubenda.com/privacy-policy/34225855/cookie-policy"
         class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe policy" title="Cookie Policy ">Cookie
         Policy</a>
      <script
         type="text/javascript">(function (w, d) { var loader = function () { var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s, tag); }; if (w.addEventListener) { w.addEventListener("load", loader, false); } else if (w.attachEvent) { w.attachEvent("onload", loader); } else { w.onload = loader; } })(window, document);</script>
   </p>
</div>