$yellow-pikachu:#FFCB05; //IT: Elementi in evidenza e pulsanti principali / EN: Highlited elements and main buttons
$blue-megaball:#005baf; //IT: Navbar, header o accent color secondario	/ EN: Navbar, header or secondary accent color
$charizard-red:#FF1C1C; //IT: CTA secondaria, badge, dettagli vivaci / EN: Secondary CTA, badges and vivid details
$bg-table:#e6f7ff; //IT: Background delle table / EN: Table's background
$box_shadow-table:0 6px 12px rgba(0, 0, 0, 0.35),
0 0 10px rgba(255, 255, 255, 0.1) inset //IT: Box shadow per le tabelle / EN: Table's box-shadow