<section class="principale"><!-- ###  CONTENUTO DELLA PAGINA  #####-->
    @if (this.noPage_message !== '') {
    <div class="alert">
        <p>
            <i class="danger bi bi-exclamation-triangle-fill"></i> <span>{{noPage_message}}</span><i
                class="bi bi-x-lg chiudi" (click)="noPage_message=''"></i>
        </p>
    </div>
    }
    <div class="contenuto">
        <div class="pokedex-header">
            <filtro-pokemon (FiltriApllicati)="onFiltriApplicati($event)"></filtro-pokemon>

            <h1 class="titolo">Pokedex nazionale</h1>
        </div>
        <div class="card-list" role="list" #container>
            @switch (pokemonFiltrati.length > 0) {
            @case(true){
            @for (pokemon of pokemonFiltrati; track $index) {
            <card-pokemon [pokemon]="pokemon"></card-pokemon>
            }
            }
            @case(false){
            @for (pokemon of pokemonList; track $index) {
            <card-pokemon [pokemon]="pokemon"></card-pokemon>
            }
            }
            }
        </div>
        <button class="carica" (click)="caricaPokemon()" [disabled]="loading"
            *ngIf="pokemonFiltrati.length === 0"><span>Carica
                altri pokemon </span></button>
    </div>
    <button class="scroll-top" (click)="scrollToTop()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#F3F3F3">
            <path d="M440-160v-487L216-423l-56-57 320-320 320 320-56 57-224-224v487h-80Z" />
        </svg>
    </button>

</section>