<section class="filtro">
    <button class="dropdown-filter" (click)="apri_filtro()">Ricerca avanzata <i
            class="bi bi-caret-down-fill"></i></button>
    <div class="lista-filtraggio" role="combobox" [style.display]="filtro_aperto ? 'block':'none'">

        <div class="filtro-tipi">

            <div class="cat-speciale">
                <div class="input-cont">
                    <input type="checkbox" name="is_legendary" id="leggendario" title="mostra i pokemon leggendari" (change)="ricerca($event)">   
                    <label for="leggendario">Solo leggendari</label>
                </div>  

                <div class="input-cont">
                    <input type="checkbox" name="is_mythical" id="mitico" title="mostra i pokemon mitici" (change)="ricerca($event)">
                    <label for="mitico">Solo misteriosi</label>
                </div>
            </div>

            <div class="gen">
                <label for="generazioni">Generazione:</label>
                <select name="generazione" id="generazioni" (change)="selectGen($event)">
                    <option value="" selected></option>
                    @for (item of generazioni; track $index) {
                    <option [value]="$index + 1">{{item}}</option>
                    }
                </select>
            </div>

            <div class="cont-tipi">
                <ul class="tipi">
                    @for (tipo of col_1_tipi; track $index) {
                    <li>
                        <button [value]="tipo" class="tipo" (click)="seleziona($event)"
                            [ngStyle]="getBackground(tipo)">{{tipo}}</button>
                    </li>
                    }
                </ul>
                <ul class="tipi">
                    @for (tipo of col_2_tipi; track $index) {
                    <li>
                        <button [value]="tipo" class="tipo" (click)="seleziona($event)"
                            [ngStyle]="getBackground(tipo)">{{tipo}}</button>
                    </li>
                    }
                </ul>
            </div>

            <button class="cerca" (click)="ApplicaFiltri()">cerca<i class="bi bi-search"></i></button>
        </div>

    </div>
</section>