<section class="filtri">
    <button class="mobile-button" (click)="apri_filtro();$event.stopPropagation()">
        <img src="/Filtro.svg" alt="Immagine di un filtro" class="filter-img">
    </button>
    <button class="filter-button" (click)="apri_filtro();$event.stopPropagation()">Ricerca avanzata</button>

    <div class="filtro" [class.open]="filtro_aperto" #filter [formGroup]="filtroForm">
        <div class="filter-header">
            <h5>Filtri</h5>
            <button (click)="chiudiFiltro()">x</button>
        </div>
        <div class="filter-body">
            <my-accordion>
                <ng-template accordion-item="Tipi">
                    <div class="types-filter">
                        <div class="types-container">
                            @for (tipo of tipi$ | async; track $index) {
                            <button type="button" class="type" [class.selezionato]="isTipoSelected(tipo)"
                                (click)="toggleTipo(tipo)" [ngStyle]="getStyle(tipo, isTipoSelected(tipo))">
                                {{tipo}}
                            </button>
                            }
                        </div>
                    </div>
                </ng-template>
                <ng-template accordion-item="Ordina per">
                    <div class="ordinamento">
                        <div class="orders">
                            @for (item of opzioniOrdinamento; track $index) {
                            <label class="order">
                                <input type="radio" formControlName="ordinamento" [value]="item.value">
                                {{item.label}}
                            </label>
                            }
                        </div>
                    </div>
                </ng-template>

                <ng-template accordion-item="Generazioni">
                    <div class="gen-filter">
                        <div class="gen-container">
                            @for (gen of generazioni$ | async; track $index) {
                            <button type="button" class="gen selezionato" (click)="toggleGen(gen.idGen)"
                                [class.selezionato]="isGenSelected(gen.idGen)">{{gen.nome}}</button>
                            }
                        </div>
                    </div>
                </ng-template>

                <ng-template accordion-item="Rarità">
                    <div class="ordinamento">
                        <div class="orders">
                            @for (item of opzioniRarita; track $index) {
                            <label class="order">
                                <input type="radio" formControlName="rarita" [value]="item.formControlName">
                                {{item.label}}
                            </label>
                            }
                        </div>
                    </div>
                </ng-template>
            </my-accordion>
        </div>
        <div class="filter-footer">
            <button class="reset" type="button" (click)="resetFiltri()">Reset</button>
            <button class="applica" (click)="ApplicaFiltri()">Applica filtri</button>
        </div>
    </div>
</section>

@if(filtro_aperto){
<div class="overlay"></div>
}