<section class="principale">
    <div class="contenuto">
        <div class="testo">
            <h1>Benvenuto su <b class="pokemon">Gotta catch</b>
            </h1>
            <p class="desc">
                Questo progetto è un Pokedex interattivo creato per diletto ed esercizio personale per il mio
                <strong> <a href="https://manueldisabatino.it">portfolio</a></strong>.
                Nella piattaforma potrai visualizzare la lista dei pokemon ( con tanto di filtri per la ricerca ) con la
                possibilità di selezionare un pokemon
                e visualizzare nel dettaglio informazioni, statistiche, evoluzioni e altro. I dati sono presi in tempo
                reale dalle <strong><a href="https://pokeapi.co/">PokeApi</a>
                </strong>, un
                API pubblica che fornisce informazioni Pokemonss.
            </p>
            <h5>Nota finale</h5>
            <p>
                Questo progetto è creato esclusivamente a scopo educativo e di portfolio.
                Tutte le immagini e suoni appartengono a Nintendo ©.
            </p>
            <div class="btn-group">
                <a class="btn-home" [routerLink]="'/pokedex'">Vai al pokedex</a>
                <a class="btn-home" [routerLink]="'/quiz'">Divertiti un pò</a>
            </div>
        </div>
    </div>
    <div class="banner">
        <img src="/sfondo.png" alt="pikachu che saluta" class="sfondo" loading="lazy">
    </div>
</section>