.card {
    position: relative;
    // flex: 400px 1 250px;
    // width: 250px;
    height: 395px;
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    backdrop-filter: blur(15px);
    transition: transform .25s ease, box-shadow .25s ease;
    cursor: pointer;
    color: white;
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.01);
    // Cyberpunk neon style
    box-shadow: 0 0 5px rgba(0, 200, 255, 0.18);
    background: rgba(0, 0, 0, 0.1);
    padding: 20px;

    @media (min-width:1024px) {
        &:hover {
            transform: scale(1.03);
            box-shadow: 0 0 5px rgba(255, 255, 255, .5);
        }
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        border-radius: inherit;
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.35);
    }

    img {
        width: 100%;
        border-radius: 15px;
        object-fit: cover;
        display: block;
    }

    .id {
        position: absolute;
        top: 1vh;
        right: 1vh;
        z-index: 3;
        font-size: .7rem;
        background: rgba(0, 0, 0, .25);
        padding: .5vh 1vh;
        border-radius: 2rem;
    }

    .info {
        padding: 1rem;

        h5 {
            text-align: center;
            font-size: 1rem;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, .7);
        }
        .tipi {
            display: flex;
            gap: .5rem;
            margin-top: 2vh;
            align-items: center;
            justify-content: center;
            text-align: center;
            .tipo {
                padding: 4px 10px;
                border-radius: 8px;
                font-weight: 700;
                font-size: .8rem;
                background: rgba(0, 0, 0, 0.5);
                width: 50%;
                color: #fff;
                // border: 2px solid currentColor;
                text-transform: uppercase;
                letter-spacing: .4px;
                // box-shadow: 0 0 3px rgba(0, 0, 0, 0.6), 0 0 3px currentColor;
                transition: .2s ease;
                backdrop-filter: blur(7.7px);
                -webkit-backdrop-filter: blur(7.7px);
            }
        }
    }
}