@use '../../../../../stili/variabili'as var;

.container_table {
    border: #737373 1px solid;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--red-charizard);

    table {
        border-radius: 10px;
        overflow: hidden;
    }
}

.chart {
    // flex: 1 1 0;
    min-width: 0;
    width: 100%;

    h5 {
        margin-bottom: 5vh;
    }
}

.debolezze_table {
    width: 100%;
    table-layout: auto;
    overflow: scroll;

    th {
        white-space: normal;
        text-align: start;
        color: rgba(0, 0, 0, 0.8);
        text-align: end;

        &:first-child {
            width: 10%;
        }
    }

    td {
        font-weight: 800;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;

        span {
            padding-left: 5px;
        }
    }
}

@media(max-width:768px) {
    td {
        span {
            font-size: .875rem;
        }
    }
}