.container_table {
    background: rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 1.5rem;

    table {
        border-radius: 10px;
        overflow: hidden;
        background-color: transparent;
    }
}

.chart {
    // flex: 1 1 0;
    min-width: 0;
    width: 100%;

    h5 {
        margin-bottom: 5vh;
    }
}

.debolezze_table {
    width: 100%;
    table-layout: auto;
    overflow: scroll;

    th {
        white-space: normal;
        color: rgba(0, 0, 0, 0.8);
        text-align: start;
        font-size: .9rem;
        &:first-child {
            width: 10%;
        }
    }

    td {
        font-weight: 800;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
        color: #fff;
        
        span {
            padding-left: 5px;
        }
    }
}

@media(max-width:768px) {
    td {
        span {
            font-size: .875rem;
        }
    }
}