@use '../../../../../stili/variabili'as var;

.menu-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95vw;
    gap: 1rem;
    align-items: center;

    h1 {
        font-weight: 600;
        font-size: 1.25rem;
    }

    .menu_button {
        border-radius: 6px;
        background-color:var(--text);

        width: 80px;
    }
}

.menu-desktop {
    display: none;
}


@media (min-width:1024px) {
    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: block;
        padding-bottom: 5vh;
        h1{
            text-align: center;
            font-size:1.5rem;
        }
        .menu {
            text-align: center;
            border-right:var(--text) 1px solid;

            .titolino {
                color:var(--text);
                text-align: center;
            }

            .lista_btn {
                margin: auto;
                width: 50%; 
                gap: 2px;
                .btn_item {
                    background-color: transparent;
                    border: var(--secondario) 1px solid;
                    padding: .2rem;

                    button {
                        display: block;
                        height: 100%;
                        width: 100%;
                        color: var(--title);
                        font-weight: 600;
                    }
                }
            }

            .attiva {
                background-color: var(--secondario) !important;

                button {
                    color: rgba(255, 255, 255, .8) !important;
                }
            }
        }
    }
}